<div class="container mt-5">
  <h3>Editar mi perfil</h3>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <img [src]="user.avatarUrl" class="img-thumbnail">
    </div>
    <div class="col-md-8">
      <form *ngIf="userForm" [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Nombre</div>
          </div>
          <input type="text" class="form-control" formControlName="name">
        </div>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Apellido</div>
          </div>
          <input type="text" class="form-control" formControlName="lastName">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="selectCity">Ciudad</label>
          </div>
          <select class="custom-select" id="selectCity" formControlName="cityId">
            <option *ngFor="let c of cities" [value]="c.id">{{c.name}}</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </form>
    </div>
  </div>
</div>